$own-color: white;
$background-color: #AFE1AF;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

[class*="col-"] {

    padding: 15px;
 /*   border: 1px solid red;*/
    width: 100%;
   
 }

 .row::after {
    content: "";
    clear: both;
    display: flex;
   flex-direction: row-reverse;
 }

.first-page {
background-color: #AFE1AF;
/*padding-bottom: 30%;*/
}

.menu-header {
padding-top: 0;
padding-bottom: 0;
padding-right: 10%;
padding-left: 10%;
display: flex;
justify-content: space-around;
}

.about-me, .education, .contact-me {
    display: inline-block;
    
}

.about-me a, .education a, .contact-me a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

img {
height: 100%;
width: 100%;
object-fit: contain;
border-radius: 10%; 
opacity: 85%;
/*margin-top: 40%;*/
}

 .introduction {
    display: flex;
    justify-content: center;
    color: $own-color;
    margin-bottom: 5%;
 }
 

 .description {
    margin-top: 10%;
    text-align: center;
    color: rgb(65, 65, 65)
 }

 .skill-list {
    margin-top: 5%;
    text-align: start;
 }
 
 .my-skills {
    margin-right: 7%;
    text-align: center;
 }
 
.soft-skills {
   margin-top: 5%;
}
 
.other-skills {
    margin-top: 5%;
}