$own-color: white;
$background-color: #AFE1AF;
$secondary-background: rgb(254, 248, 248);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

[class*="col-"] {

    padding: 15px;
 /*   border: 1px solid red;*/
    width: 100%;
   
 }

 .row::after {
    content: "";
    clear: both;
    display: flex;
   flex-direction: row-reverse;
 }

.colored-page {
background-color: $background-color;
color: $own-color;
/*padding-bottom: 30%;*/
}

.menu-header {
padding-top: 0;
padding-bottom: 0;
padding-right: 10%;
padding-left: 10%;
display: flex;
justify-content: space-around;
}

.about-me, .education, .contact-info {
    display: inline-block;
    
}

.about-me a, .education a, .contact-info a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

img {
height: 100%;
width: 100%;
object-fit: contain;
border-radius: 10%; 
opacity: 85%;
/*margin-top: 40%;*/
}

 .introduction {
    display: flex;
    justify-content: center;
    color: $own-color;
    margin-bottom: 5%;
 }
 

 .description {
    padding-top: 5%;
    padding-bottom: 7%;
    text-align: center;
    color: rgb(65, 65, 65);
    background-color: $secondary-background;

 }

 .skill-list {
    margin-top: 10%;
    text-align: start;
 }
 
 .my-skills {
    margin-right: 7%;
    text-align: center;
 }
 
.soft-skills, .other-skills {
   margin-top: 5%;
}
 
.about-me {
   padding-left: 2%;
   padding-right: 2%;
}

.contact-me  {
   text-align: center
}

.socials {
   display: flex;
   justify-content: space-around;
   padding-top: 5%;
  ;
}

.linkedin, .instagram {
   width: 15%;
}

.get-contacted {
   padding-top: 10%;
}

.form-row {
   margin-bottom: 0;
   display: flex;
   justify-content: flex-start;
   flex-direction: column;
   flex-wrap: wrap;
 }
 
 .form-row input[type='text'] {
   background-color: #FFFFFF;
   border: 1px solid #D6D9DC;
   border-radius: 3px;
   width: 70%;
   padding: 2%;
   font-size: 14px;
 }
 
 .form-row label {
   margin-top: 5%;
   margin-bottom: 1%;
 }